#container {
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: center; /*cross axis*/
    background: #F5F5F5; /*grey 100*/
}

section {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

.relative {
    position: relative;
}

figure {
    width: 20%;
    height: 1.6em;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    text-align: center;
}

#shade1 {
    background: #FFF; /*grey 100 light (white)*/
    text-align: left;
}

#shade2 {
    background: #E0E0E0; /*grey 300*/
}

#shade3 {
    background: #42A5F5; /*blue 400*/
}

#shade4 {
    background: #1E88E5; /*blue 600*/
}

#shade5 {
    background: #EF5350; /*red 400*/
    text-align: right;
}

/*The needle is slightly taller than the figures.*/
/* It is positioned to slightly overhang and underhang them.*/
#needle {
    width: .2em;
    height: 2em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: .8em;
    z-index: 1;
    background: #000;
}

footer {
    width: 95%;
    margin: 0;
    padding: .5em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
}

p, figcaption {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

@media all and (min-width: 300px) {
    p, figcaption {
        font-size: .9375em; /*15 pixels*/
    }

    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }
}

@media all and (min-width: 600px) {
    p, figcaption {
        font-size: 1em; /*16 pixels*/
    }

    h1 {
        font-size: 1.5em; /*24 pixels*/
    }
}