#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 80%;
    margin: 0;
    padding: .5em 10%;
    background: #bbdefb;
}

section {
    width: 80%;
    margin: 0;
    padding: .5em 10% 1.5em 10%;
    position: relative;
    background: #f5f5f5;
}

/*Clearfix for section (accomplished with pseudo-element technique)*/
section::after {
    clear: both;
    content: "";
    display: table;
}

figure {
    width: 20%;
    height: 1.6em;
    margin: 0;
    padding: 0;
    float: left;
}

#shade1 {
    background: #f0f4c3;
}

#shade2 {
    background: #e6ee9c;
}

#shade3 {
    background: #bbdefb;
}

#shade4 {
    background: #90caf9;
}

#shade5 {
    background: #5d99c6;
}

/*The needle is slightly taller than the figures and positioned to slightly overhang and underhang them*/
#needle {
    width: .2em;
    height: 1.8em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1.4em;
    z-index: 1;
    background: #000;
}

h1 {
    font: 600 1.6em/1.6 'Francois One', sans-serif;
    margin: 0; /*to avoid extra space between header and section*/
    padding: 0; /*to avoid extra space between header and section*/
}

p {
    font: 400 1em/1.5 'Merriweather', serif;
}

figcaption {
    font: 400 0.625em/2.56 'Merriweather', serif;
    text-align: center;
}